<div id="pl">
    <!--<div class="ds-thread" data-thread-key="{{slug}}" data-title="{{{title}}}" data-url="{{url absolute="true"}}"></div>-->
    <div id="SOHUCS" class="ds-thread" sid="{{slug}}"></div>
</div>