<div id="pl">
    <!--<div class="ds-thread" data-thread-key="{{slug}}" data-title="{{{title}}}" data-url="{{url absolute="true"}}"></div>-->
    <div id="SOHUCS" class="ds-thread" sid="{{slug}}"></div>
    <!-- 来必力City版安装代码 -->
    <div id="lv-container" class="ds-thread" data-id="city" data-uid="MTAyMC8zOTUyOC8xNjA1NQ==">
        <script type="text/javascript">
            (function(d, s) {
                var j, e = d.getElementsByTagName(s)[0];

                if (typeof LivereTower === 'function') { return; }

                j = d.createElement(s);
                j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                j.async = true;

                e.parentNode.insertBefore(j, e);
            })(document, 'script');
        </script>
        <noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
    </div>
    <!-- City版安装代码已完成 -->
</div>